[project]
	description = Sghl stuff
[access "refs/*"]
	owner = group user/mloukianov (mloukianov)
[access "refs/for/refs/*"]
	read = group user/mloukianov (mloukianov)
	push = group user/mloukianov (mloukianov)
	label-Code-Review = -2..+2 group user/mloukianov (mloukianov)
	label-Verified = -1..+1 group user/mloukianov (mloukianov)
	rebase = group user/mloukianov (mloukianov)
	removeReviewer = group user/mloukianov (mloukianov)
	submit = group user/mloukianov (mloukianov)
[access "refs/heads/*"]
	read = group user/mloukianov (mloukianov)
	create = group user/mloukianov (mloukianov)
	push = +force group user/mloukianov (mloukianov)
	pushMerge = group user/mloukianov (mloukianov)
[access "refs/tags/*"]
	push = +force group user/mloukianov (mloukianov)
	pushTag = group user/mloukianov (mloukianov)
	pushSignedTag = group user/mloukianov (mloukianov)
